@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Introduction</h1>
        <p class="lead">Welcme to the Xray Booking System, you can book your xray scan from different GP here.</p>
    </section>

    <div class="row">
        <img src="https://www.scr.com.au/wp-content/uploads/2019/01/X-Ray-Header-Header-1030x687.jpg" />
    </div>
</main>